:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlGreenNF: rgba(44,91,43);
  --showgirlOrange: #e15921;
}

/* ---------------------Header----------------------- */

header {
  background: var(--showgirlGreen);
  position: sticky;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50pt;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 50pt;
}

.nav-toggle {
  display: none;
}

nav {
  background: var(--showgirlGreen);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  height: 160pt;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  font-size: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: var(--showgirlOrange);
}

nav:hover {
  display: block;
}

.nav-toggle:hover ~ nav {
  display: block;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label {
  color: var(--showgirlOrange);
}

.nav-toggle-label {
  border: 100%;
  display: flex;
  font-size: 2.1em;
  padding: 15px;
  background-color: var(--showgirlGreen);
  cursor: pointer;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 24pt;
}
