:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlGreenNF: rgba(44,91,43);
  --showgirlOrange: #e15921;
}



/* ---------------------Banner----------------------- */

.Banner {
  height: 490pt;
  background-color: var(--showgirlGreen);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Banner h4 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 2em;
  color: var(--showgirlOrange);
}

.Banner img {
  max-wdith: 100%;
}


/* ---------------------Body----------------------- */

.LACC,
.Kura {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

p {
  font-size: 1em;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 24pt;
}
