:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlGreenNF: rgba(44,91,43);
  --showgirlOrange: #e15921;
}



/* ---------------------Banner----------------------- */

.Banner {
  height: 160pt;
  background-color: var(--showgirlGreen);
}

.Banner hr {
  max-width: 88%;
  
}

.Banner h4 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 1em;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
}

.link {
  margin-left: 50pt;
}

.view button {
  background-color: var(--showgirlGreenNF);
  color: var(--showgirlOrange);
}

/* ---------------------Body----------------------- */

.LACC,
.Kura {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Kura img,
.LACC img {
  width: 100%;
}
p {
  font-size: 1em;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
}

.Kura p {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 50pt;
}

.education {
  margin-left: 17pt;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 2em;
}

.Kura h2 {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) { 
  #.KuraText{
   display:none;
  }
  #.summary{
   display:none;
  }
}

li {
  font-size: 1em;
}
