/* Basic font styles */

:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlOrange: #e15921;
}

body {
  background-color: ;
  color: #333333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h1,
h2 {
  display: flex;
  color: var(--showgirlOrange);
  justify-content: center;
}

* {
  box-sizing: border-box;
}

p {
  color: gray;
  margin: 0.5em 0;
}

/* Form structure */

form {
  width: 800px;
  margin: 0 auto;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  display: flex;
  flex-direction: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
}

fieldset,
.separator {
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
}

.divide {
  max-width: 100%;
  max-height: 50px;
  display: flex;
  justify-content: center;
}

/* Individual form items */

fieldset input {
  margin: 0 10px 0 0;
}

label {
  margin-right: 40px;
}

textarea {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 200px;
}

.separator {
  display: flex;
}

.separator label {
  flex: 2;
}

.separator input,
.separator select {
  flex: 3;
  padding: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #dddddd;
  width: 50%;
  margin: 0 auto;
  display: block;
}

button:hover,
button:focus {
  background-color: #eeeeee;
  cursor: pointer;
}

/* Header */

.logo img {
	float: left;
	max-width: 7vw;
}

.container h1 {
	color: white;
	font-size: 50pt;
	float: left;
	margin-left: auto;
}

header {
  position: sticky;
  top: 0%;
	background: var(--showgirlGreen);
}

header::after{
	content:"";
	display: table;
	clear: both;
}

nav {
	float: right;
	padding-right: 130px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 130px;
	padding-top: 80px;
}

nav a {
	font-size: 18pt;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

nav a:hover{
	color: var(--showgirlOrange);
