:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlOrange: #e15921;
}

.content {
  background-image: url(https://images.unsplash.com/photo-1766767673683-168676b97f4c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  display: flex;
}

header {
  background: var(--showgirlGreen);
  position: sticky;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.logo {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.gif {
  margin-right: 1em;
}

.gif img {
  max-height: 50pt;
}

.nav-toggle {
  display: none;
}

nav {
  background: var(--showgirlGreen);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  font-size: 18pt;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: var(--showgirlOrange);
}

nav:hover {
  display: block;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label {
  color: var(--showgirlOrange);
}

.nav-toggle:hover ~ nav {
  display: block;
}

.nav-toggle-label {
  margin-left: 0.4em;
  border: 100%;
  display: flex;
  font-size: 5em;
}

.content img {
  max-width: 25vw;
}
