
.title {
  color: var(--showgirlOrange);
  font-size: 1.3em;
}

h1,
.books,
.currentBooks {
  display: flex;
  justify-content: center;
}

.currentBooks img {
  max-width: 50vw;
}

.books img {
  max-width: 20vw;
}

/*
body {
  background-color: #100c08;
}
*/
