:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlOrange: #e15921;
}

.title {
  color: var(--showgirlOrange);
}

h1,
.books {
  display: flex;
  justify-content: center;
}

.books img {
  max-width: 20vw;
}

body {
  background-color: #100c08;
}

