//---------------------Header-----------------------

:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlGreenNF: rgba(44,91,43);
  --showgirlOrange: #e15921;
}

header {
  background: var(--showgirlGreen);
  position: sticky;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50pt;
}

.logo {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 24pt;
}

.nav-toggle {
  display: none;
}

nav {
  background: var(--showgirlGreen);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300pt;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  font-size: 18pt;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: var(--showgirlOrange);
}

nav:hover {
  display: block;
}

.nav-toggle:hover ~ nav {
  display: block;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label {
  color: var(--showgirlOrange);
}

.nav-toggle-label {
  margin-left: 0.4em;
  border: 100%;
  display: flex;
  font-size: 3em;
}

//---------------------Banner-----------------------

.Banner {
  height: 300pt;
  background-color: var(--showgirlGreen);
}

.Banner p,
.Banner button {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 14pt;
}

.Banner h4 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 17pt;
}

.description {
  display: flex;
  justify-content: center;
  margin-left: 50pt;
  text-align: center;
}

.link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.view button {
  background-color: var(--showgirlGreenNF);
  color: var(--showgirlOrange);
}

//---------------------Body-----------------------

.LACC,
.Kura {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Kura img,
.LACC img {
  max-width: 100%;
}
p {
  font-size: 20px;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
}

.Kura p {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 50pt;
}

.education {
  margin-left: 17pt;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 24pt;
}

.Kura h2 {
  display: flex;
  justify-content: center;
}
