

/* ---------------------Banner----------------------- */

.Banner {
  height: 160pt;
  background: var(--showgirlBrick);
}

.Banner hr {
  max-width: 88%;
  
}

.Banner h4 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 1em;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
}

.link {
  margin-left: 15pt;
  margin-right: 15pt;
}


.link p {
  font-size: 10pt;
  text-align: justify;
}


@media (min-width: 800px) {

.link p {
  font-size: 14pt;
}

.link {
  margin-left: 50pt;
  margin-right: 50pt;
}
  
}

.view button {
  background-color: var(--showgirlGreenNF);
  color: var(--showgirlOrange);
}

/* ---------------------Body----------------------- */

.LACC,
.Kura {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.Kura img,
.LACC img {
  width: 100%;
  display: flex;
  align-self: center;
  border-radius: 30px;
}

p {
  font-size: 9pt;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
}

.Kura p {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 10pt;
  font-size: 9pt;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 16pt;
  margin-left: 25px;
}

li {
  font-size: 10pt;
}


@media (min-width: 800px) {

.LACC,
.Kura {
  display: grid;
  grid-template-rows: none;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  font-size: 12pt;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
}

.KuraText {
  display: flex;
  text-align: justify;
}

.Kura p {
  padding: 50pt;
  font-size: 12pt;
}


.LACC  {
  direction: rtl;
}

.education {
  display: flex;
  align-items: center;
  direction: ltr;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 24pt;
  margin-left: 40pt;
}

li {
  font-size: 14pt;
}


}
