:root {
  --showgirlGreen: rgba(44,91,43, 0.80);
  --showgirlGreenNF: rgba(44,91,43);
  --showgirlOrange: #e15921;
}



/* ---------------------Banner----------------------- */

.Banner {
  height: 300pt;
  background-color: var(--showgirlGreen);
}

.Banner p,
.Banner button {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 14pt;
}

.Banner h4 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-style: none;
  font-size: 17pt;
}

.description {
  display: flex;
  justify-content: center;
  margin-left: 50pt;
  text-align: center;
}

.link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.view button {
  background-color: var(--showgirlGreenNF);
  color: var(--showgirlOrange);
}

/* ---------------------Body----------------------- */

.LACC,
.Kura {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Kura img,
.LACC img {
  max-width: 100%;
}
p {
  font-size: 20px;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
}

.Kura p {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 50pt;
}

.education {
  margin-left: 17pt;
}

h2 {
  font-family: "Boldonse", system-ui;
  font-weight: bold;
  font-size: 24pt;
}

.Kura h2 {
  display: flex;
  justify-content: center;
}
