:root {
  --showgirlGreen: rgba(44,91,43);
  --showgirlGreenF: rgba(44,91,43, 0.80);
  --deepGreen: #234822;
  --showgirlOrange: #e15921;
  --showgirlBrick: linear-gradient(135deg, rgba(225, 89, 33, 0.80), rgba(215, 63, 0, 0.80), rgba(233, 139, 91, 0.80), rgba(141, 211, 198, 0.80));
  --orangeGradient: linear-gradient(to right, #e15921, #FF9966, #ffe566 100%);
  --opalite: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  --trueshowgirl: linear-gradient(135deg, #8dd3c6 0%, #3f816c 100%);
}

.accent {
  font-weight: bold;
  animation: accentAnimate 4s ease-in-out infinite;
}

@keyframes accentAnimate {
  0% {color: var(--showgirlGreen);}
  50% {color: var(--showgirlOrange);}
  100% {color: var(--showgirlGreen);}
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

/*-------------------font sizes-----------------------*/

h1, h2, h3, h4 {
  font-family: "italiana";
  font-weight: bold;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

p {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: none;
  font-size: 11pt;
}

.content {
  margin-left: 24px;
  margin-right: 24px;
}

@media (min-width: 768px) and (hover:hover) {
h1 {
  font-size: 30pt;
}

h2 {
  font-size: 25pt;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 16pt;
}

p {
  font-size: 14pt;
}

.content {
  margin-left: 60px;
  margin-right: 60px;
}

}


/* ---------------------Header----------------------- */

header {
  background: var(--showgirlBrick);
  position: sticky;
  top: 0%;
  display: flex;
  align-items: center;
  height: 50pt;
  width: 100%;
  z-index: 999;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "italiana", system-ui;
  font-weight: bold;
  font-size: 24pt;
  margin: 0;
  position: absolute;
  z-index: 1;
}

/*scroll bar for centering*/

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth; 
}

@supports not (scrollbar-gutter: stable) {

html {
  overflow-y: scroll;
}
  
}

.nav-toggle {
  display: none;
}

nav {
  background: var(--showgirlBrick);
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  height: 160pt;
  display: none;
}

nav ul,
.nullifyList {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 15pt;
  font-family: "italiana";
}

nav a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  color: var(--showgirlGreen);
}

nav:hover {
  display: block;
}

.nav-toggle:hover ~ nav {
  display: block;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle:checked ~ .nav-toggle-label {
  color: var(--showgirlGreen);
}

.nav-toggle-label {
  border: 100%;
  display: flex;
  font-size: 24pt;
  padding: 10px 20px 14px 20px;
  background-color: var(--showgirlBrick);
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 800px) and (hover: none) {

.nav-toggle:not(:checked) ~ nav {
  display: none;
}

}

.nav-toggle-label:hover {
  color: #eeeeee;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
}

/*---------------Footer--------------*/

.Footer {
  height: 100pt;
  background-color: var(--showgirlGreenF);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Footer hr {
  max-width: 88%;
  
}

.footNote {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contactLinks {
  margin-left: 15pt;
  margin-right: 15pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  padding-top: 10px;
  padding-bottom: 10px;
}

.socials img {
  max-width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.socials img:hover {
  background-color: white;
  transform: scale(1.1);
  transition: transform 0.5s ease
}

.glass {
  background: rgba(255, 255, 255, 0.1);      
  backdrop-filter: blur(10px);                
  -webkit-backdrop-filter: blur(10px);        
  border-radius: 50px;                         
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.enlarge {
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.enlarge:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.shine {
  overflow: hidden;
}

.shine::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  left: -300px;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.7), transparent);
  transform: skewX(-20deg);
}


@media (hover:hover) {

.shine:hover::before {
  animation: light 0.5s ease-in-out;
}
@keyframes light {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}

}
@media (hover:none) {
.shine::before {
  animation: light 5s ease-in-out 3s infinite;
}

@keyframes light {
  0% {
    left: -10%;
  }
  10% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

}

.jump a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--showgirlGreen);

  position: absolute;
  top: 0px;
  width: 0%;
  transition: all ease-in-out 0.25s;
}

.jump a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--showgirlGreen);
  padding-top: 15pt;
  padding-bottom: 15pt;
}

.jump a:hover {
  color: white;
}


.jump a:hover::before {
  width: 100%;
}
