#recommend, 
#essay, 
#featured {
  scroll-margin-top: 50pt;
}


.title {
  color: var(--showgirlOrange);
  font-size: 16pt;
}

h1,
.currentBooks {
  display: flex;
  justify-content: center;
}

.currentBooks img {
  width: 90%;
  border-radius: 30px;
}

.shelf {
  overflow: hidden;
}

.jump {
  display: none;
}

.library {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 65px;
}

.books {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
}

header {
  z-index: 9999;
}

.books img {
  width: 140px;
  margin-right: 20px;
}

.books:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

* {
  box-sizing: border-box;
}

form {
  max-width: 100%;
  margin: 0 auto;
}

legend {
  display: flex;
  flex-direction: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
}

.form-section {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #dddddd;
  width: 30%;
  margin: 0 auto;
  display: block;
}

.form-selection button {
  background: var(--orangeGradient);
  border: var(--showgirlOrange) solid 1px;
  font-size: 16px;
  color: #eeeeee;
  transition: transform 0.5s ease;
}

button:hover {
  color: black;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  transform: scale(0.95);
}


textarea {
  width: 100%;
  height: 200px;
}

.separator {
  display: flex;
  align-items: center;
}

.separator label {
  flex: 2;
}

.separator input {
  flex: 6;
  height: 40px;
}

fieldset input {
  margin: 0 10px 0 0;
}

.wholeForm {
  margin-left: 30px;
  margin-right: 30px;
  margin: 0 auto;
}

input, text, textarea {
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
  font-family: "IM FELL DW PICA"; 
  font-size: 12pt;
}

.featured, #essays, #recommend {
  max-width: 400px;
  margin: 50px auto;
}

.separator, .form-section {
  padding: 0px 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.item {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  margin: 0px 10px 0px 10px;
  padding: 5px;
  font-size: 12pt;
}

@media (min-width: 768px) and (hover: hover) {

.item {
  grid-template-columns: 5fr 0.75fr;
  margin: 0px 50px 0px 50px;
  font-size: 14pt;
}

.structure {
  display: flex;
  flex-direction: column-reverse;
}

.title {
  font-size: 24pt;
}

p {
  font-size: 14pt;
}

.featured, #essays, #recommend {
  max-width: 1000px;
}

p {
  padding-left: 200px;
  padding-right: 200px;
}

.books img:hover {
  transform: scale(2);
}

.books img {
  transition: transform 0.5s ease;
}

input, text, textarea {
  font-size: 14pt;
}

.logo {
  position: relative;
}

.jump {
  display: flex;
  flex-direction: row;
  margin:0; 
  width: 80%; 
  padding-right: 20px; 
  color: var(--showgirlGreen);
  position: relative;
  justify-content: space-between;
  list-style: none;
}

.jump a {
  color: var(--showgirlOrange);
}


/*
removed because only modern browsers support this
kept because I may use it later

.library:has(img:hover) {
  overflow: visible;
}
  
*/

}
